<!DOCTYPE html>
<html>
<head>
    <title>the find your site app</title>
</head>
<body>
    <h1>hi click a title to go to the market site u want.</h1>
    <p>all the buttons down here.</p>
    <a href="https://www.amazon.com"><button>Amazon</button></a>
<a href="https://www.olx.com"><button>OLX</button></a>
<a href="https://www.ebay.com"><button>eBay</button></a>
<a href="https://www.alibaba.com"><button>Alibaba</button></a>
<a href="https://www.walmart.com"><button>Walmart</button></a>
<a href="https://www.target.com"><button>Target</button></a>
<a href="https://www.bestbuy.com"><button>Best Buy</button></a>
<a href="https://www.newegg.com"><button>Newegg</button></a>
<a href="https://www.costco.com"><button>Costco</button></a>
<a href="https://www.macys.com"><button>Macy's</button></a>
<a href="https://www.sears.com"><button>Sears</button></a>
<a href="https://www.kohls.com"><button>Kohl's</button></a>
<a href="https://www.homedepot.com"><button>Home Depot</button></a>
<a href="https://www.lowes.com"><button>Lowe's</button></a>
<a href="https://www.etsy.com"><button>Etsy</button></a>
<a href="https://www.zappos.com"><button>Zappos</button></a>
<a href="https://www.6pm.com"><button>6pm</button></a>
<a href="https://www.footlocker.com"><button>Foot Locker</button></a>
<a href="https://www.allegro.pl"><button>Allegro</button></a>
<a href="https://www.rakuten.com"><button>Rakuten</button></a>
<a href="https://www.groupon.com"><button>Groupon</button></a>
<a href="https://www.overstock.com"><button>Overstock</button></a>
<a href="https://www.woot.com"><button>Woot</button></a>
<p>all the buttons up here💀.</p>
<p>some titles may be blocked because of the constant link clicking and the site may think ur a bot.</p>
</body>
</html>
